.gallery {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.3s ease 0s;

  &__wrapper {
    background-color: rgba(0, 0, 0, 0.45);
  }
  &__body {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    align-items: center;
    @include adaptiv-value(padding-top, 100, 60, 1);
  }
  &__title {
    @include adaptiv-value(font-size, 60, 40, 1);
    @include adaptiv-value(margin-bottom, 65, 30, 1);
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    @include adaptiv-value(font-size, 14, 12, 1);
    @include adaptiv-value(line-height, 36, 30, 1);
    max-width: 600px;
    @include adaptiv-value(margin-bottom, 207, 100, 1);
  }
  &__slider {
    display: flex;
    width: 100%;
    height: 100%;
    transform: translateY(50%);
    position: relative;
    z-index: 2;
  }
  &__slide {
    width: 100%;
    @include adaptiv-value(height, 295, 150, 1);
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease 0s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease 0s;
    }
    background: #ff3333;

    &.select {
      img {
        transform: scale(0.95);
      }

      &::after {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  @media (max-width: 700px) {
    &__slider {
      flex-wrap: wrap;
    }
    &__slide {
      width: 50%;
    }
  }
}
