//< " ФАЙЛ СТИЛЕЙ ХЕДЕРА " >=============================================================================================================>//
.header {
  color: #fff;
  @include adaptiv-value(font-size, 24, 20, 1);
  @include adaptiv-value(line-height, 30, 24, 1);
  width: 100%;

  &__nav-bg {
    position: fixed;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    display: none;
    z-index: -1;

    span {
      height: 0;
      overflow: hidden;
      width: 50%;
      object-fit: fill;
      position: absolute;
      transition:
        bottom 0.5s ease 0s,
        top 0.5s ease 0s,
        height 1s ease 0s;

      &:nth-child(odd) {
        top: -100%;
      }
      &:nth-child(even) {
        bottom: -100%;
      }
      &:nth-child(2) {
        left: 50%;
        transform: translateX(-50%);
      }
      &:nth-child(3) {
        right: 0;
      }
      &.diagonal-1 {
        top: -100%;
        bottom: auto;
        left: -10%;
      }
      &.diagonal-2 {
        bottom: -100%;
        right: 0;
        top: auto;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    &.active {
      span {
        height: 100%;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          bottom: 0;
        }
        &:nth-child(3) {
          top: 0;
        }
        &.diagonal {
          height: 75%;
        }
        &.diagonal-1 {
          top: -25%;
        }
        &.diagonal-2 {
          bottom: 0;
        }
      }
      // img {
      //   // &.diagonal-1 {
      //   //   top: -50%;
      //   //   width: 100%;
      //   // }
      //   // &.diagonal-2 {
      //   //   bottom: -50%;
      //   //   width: 100%;
      //   // }
      //   height: 100%;
      //   &:nth-child(1) {
      //     top: 0;
      //   }
      //   &:nth-child(2) {
      //     bottom: 0;
      //   }
      //   &:nth-child(3) {
      //     top: 0;
      //   }
      //   &.diagonal {
      //     height: 75%;
      //   }
      //   &.diagonal-1 {
      //     top: -25%;
      //   }
      //   &.diagonal-2 {
      //     bottom: 0;
      //   }
      // }
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    @include adaptiv-value(column-gap, 55, 30, 1);
    transition: all 0.3s ease 0s;
    a {
      position: relative;
      color: #fff;

      & svg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        stroke-dashoffset: 628;
        stroke-dasharray: 628;
        animation: offHover 1s ease-in forwards;
      }

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          svg {
            animation: hover 1s ease-in forwards;
          }
        }
      }

      @keyframes hover {
        0% {
          stroke-dashoffset: 628;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }
      @keyframes offHover {
        from {
          stroke-dashoffset: 0;
        }
        to {
          stroke-dashoffset: 628;
        }
      }
    }
  }
  &__burger {
    flex-direction: column;
    color: #fff;
    line-height: 12px;
    font-size: 45px;
    user-select: none;
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    z-index: 20;
  }

  @media (max-width: 650px) {
    &__burger {
      display: flex;
    }
    &__nav-bg {
      display: flex;
      &.active {
        z-index: 9;
      }
    }
    &__nav {
      position: fixed;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include adaptiv-value-width(font-size, 60, 40, 650, 1);
      @include adaptiv-value-width(line-height, 65, 40, 650, 1);
      left: 0;
      top: 0;
      opacity: 0;
      gap: 10px;
      z-index: -1;

      &.active {
        transition: all 0.4s ease 1s;
        opacity: 1;
        z-index: 10;
      }
    }
  }
}
