<section class="about">
  <div class="about__wrapper">
    <div class="about__container _container">
      <div class="about__body">
        <div class="about__left wow animate__fadeInLeft animate__animated" data-wow-duration="1s">
          <img src="./img/about.png" alt="" class="about__img" />
        </div>
        <div class="about__right">
          <h2 class="about__title wow animate__fadeInRight animate__animated" data-wow-duration="1s">about</h2>
          <h3 class="about__title-big wow animate__fadeInRight animate__animated" data-wow-duration="1s"
            data-wow-delay="0.2s">Lorem ipsum
          </h3>

          <p class="about__text wow animate__fadeInRight animate__animated" data-wow-duration="1s"
            data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin
            aliquam
            suscipit. Vestibulum ligula dolor, vehicula ac metus lobortis, lobortis maximus mauris</p>
        </div>
      </div>
    </div>
  </div>
</section>