<section class="gallery">
  <div class="gallery__wrapper">
    <div class="gallery__container _container">
      <div class="gallery__body">
        <h2 class="gallery__title wow animate__fadeIn animate__animated" data-wow-duration="1s">Lorem ipsum</h2>

        <p class="gallery__text wow animate__fadeIn animate__animated" data-wow-duration="1s" data-wow-delay="0.2s">
          Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Curabitur sollicitudin aliquam
          suscipit. Vestibulum ligula dolor, vehicula ac metus lobortis, lobortis maximus mauris</p>

        <div class="gallery__slider">
          <div class="gallery__slide wow animate__fadeInUp animate__animated" data-wow-duration="1s">
            <img src="./img/slide1.webp" alt="" />
          </div>

          <div class="gallery__slide wow animate__fadeInUp animate__animated" data-wow-duration="1s">
            <img src="./img/slide2.webp" alt="" />
          </div>

          <div class="gallery__slide wow animate__fadeInDown animate__animated" data-wow-duration="1s">
            <img src="./img/slide3.webp" alt="" />
          </div>

          <div class="gallery__slide wow animate__fadeInDown animate__animated" data-wow-duration="1s">
            <img src="./img/slide4.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>