<section class="join">
  <div class="join__wrapper">
    <div class="join__container _container">
      <div class="join__body">
        <h2 class="join__title wow animate__fadeIn animate__animated" data-wow-duration="1s">Join our crew</h2>

        <button class="join__button wow animate__fadeInUp animate__animated" data-wow-duration="1s">
          Join now
        </button>

        <div class="join__rights wow animate__fadeInUp animate__animated" data-wow-duration="1s"">
          All rights reserved
          <br />by symu.co
        </div>
      </div>
    </div>
  </div>
</section>