<section class="main">
  <div class="main__bg">
    <img src="./img/main-bg.jpg" alt="" />
  </div>
  <div class="main__wrapper">
    <div class="main__container _container">
      <div class="main__body">

        <header class="header">
          <div class="header__burger wow animate__fadeInUp animate__animated" data-wow-duration="1s">
            <span>-</span>
            <span>-</span>
            <span>-</span>
          </div>
          <div class="header__nav-bg">
            <span><img src="./img/burger/blot-1.png" alt=""></span>
            <span><img src="./img/burger/blot-2.png" alt=""></span>
            <span><img src="./img/burger/blot-3.png" alt=""></span>
            <span class="diagonal diagonal-1"><img src="./img/burger/blot-4.png" alt=""></span>
            <span class="diagonal diagonal-2"><img src="./img/burger/blot-4.png" alt=""></span>
          </div>
          <nav class="header__nav">
            <a href="#" class="header__nav-item">
              <span> <svg width="147" height="18" viewBox="0 0 147 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 1H132L8.5 3H104.5L127.5 5H14L12.5 9H119.5M146.5 9H119.5M119.5 9L117 11.5H92.5H22L12.5 13.5H118M145.5 13.5H118M118 13.5L117 15H21L28 17H141.5"
                    stroke="#95A7FF" />
                </svg></span>
              adventure</a>
            <a href="#" class="header__nav-item">
              <svg width="147" height="18" viewBox="0 0 147 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1H132L8.5 3H104.5L127.5 5H14L12.5 9H119.5M146.5 9H119.5M119.5 9L117 11.5H92.5H22L12.5 13.5H118M145.5 13.5H118M118 13.5L117 15H21L28 17H141.5"
                  stroke="#95A7FF" />
              </svg>
              crew</a>
            <a href="#" class="header__nav-item">
              <svg width="147" height="18" viewBox="0 0 147 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1H132L8.5 3H104.5L127.5 5H14L12.5 9H119.5M146.5 9H119.5M119.5 9L117 11.5H92.5H22L12.5 13.5H118M145.5 13.5H118M118 13.5L117 15H21L28 17H141.5"
                  stroke="#95A7FF" />
              </svg>
              <svg width="147" height="18" viewBox="0 0 147 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1H132L8.5 3H104.5L127.5 5H14L12.5 9H119.5M146.5 9H119.5M119.5 9L117 11.5H92.5H22L12.5 13.5H118M145.5 13.5H118M118 13.5L117 15H21L28 17H141.5"
                  stroke="#95A7FF" />
              </svg>
              gallery</a>
            <a href="#" class="header__nav-item">
              <svg width="147" height="18" viewBox="0 0 147 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1H132L8.5 3H104.5L127.5 5H14L12.5 9H119.5M146.5 9H119.5M119.5 9L117 11.5H92.5H22L12.5 13.5H118M145.5 13.5H118M118 13.5L117 15H21L28 17H141.5"
                  stroke="#95A7FF" />
              </svg>
              contact</a>
          </nav>
        </header>

        <div class="main__block">
          <div class="main__parallax wow animate__zoomIn animate__animated" data-wow-duration="2s">
            <h1 class="main__title">barmy</h1>

            <h2 class="main__sub-title">graffiti crew</h2>
          </div>
          <button class="main__button wow animate__zoomIn animate__animated" data-wow-duration="2s">watch more</button>
        </div>
      </div>
    </div>
  </div>
</section>